aiogram==2.23.1
aiohttp==3.8.3
aiosignal==1.3.1
async-timeout==4.0.2
attrs==22.2.0
Babel==2.11.0
caugetch==0.0.1
certifi==2022.12.7
charset-normalizer==3.0.1
clipboard==0.0.4
colorama==0.4.6
frozenlist==1.3.3
getpass4==0.0.14.1
idna==3.4
magic-filter==1.0.9
MouseInfo==0.1.3
multidict==6.0.4
psutil==5.9.4
PyAudio==0.2.13
PyAutoGUI==0.9.53
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.28
pytweening==1.0.4
pytz==2022.7
speedtest-cli==2.1.3
yarl==1.8.2

requests~=2.28.1